/* ------------------------------ Home ------------------------------ */

#home-index #container h1
    {
    margin-bottom: 1rem;
    font-size: 3.1rem;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    /*text-transform: uppercase;*/
    }

#home-index #container a
    {
    /*color: #3d3f54;*/
    /* color of links general is white*/
    color: #ffffff;
    text-decoration: none;
    }

#home-index #container a:hover,
#home-index #container a:active
    {
    color: #FF8C00;
    }

#home-index #container time
    {
    /*color of dates general is black*/
    color: #000000;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    }
#home-index #container table {
    color: #ffffff;
    border-collapse: collapse;
}

#home-index #container td {
    border: 0px solid transparent;
    background-clip: padding-box;
    border-top-width: 14px;
    border-bottom-width: 14px;
}

#home-index #container tr > td + td {
  border-left-width: 27px;
}

#home-index #container tr + tr > td {
  border-top-width: 10px;
}

#home-index #container table.upcoming-events {
    /*table-layout: fixed;*/
    width: 100%;
    white-space: nowrap;
}



/* ------------------------------ HOME ------------------------------ */


#home-index #site-header {
    margin-top: 25rem;
}

#home-index #myTopnav {
    background-color: rgba(0,0,0,0.7);
    height: 10rem;
}

#home-index #homeLogo {
    padding-top: 2rem;
}

#home-index #homeLogo a {
    font-size: 2.4rem;
    color: white;
}

#home-index #tabs a {
    font-size: 0.9rem;
    color: white;
}

#home-index #tabs a:hover {
    color: #FF8C00;
}

#home-index #tabs .dropbtn {
    font-size: 0.9rem;
    color: white;
}

#home-index #tabs .dropdown-content {
    min-width: 15rem;
}

#home-index
    {
    min-width: 100%;
    background: #121010 url(img/home/home3.png) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }

#alternative-background
    {
    width: 100%;
    display: none;
    position: fixed;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background: #121010 url(img/home/Kammermusik18_0086cutscale.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    }

/* Intro */
#home-index #intro
    {
    height: 100%;
    }

/* Proceed to content link */
#home-index #slide-down-to-content
    {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    width: 90px;
    height: 90px;
    margin-left: -39px;
    transition: 0.2s ease-in-out;
  }

#home-index #slide-down-to-content:hover,
#home-index #slide-down-to-content:active
    {
    opacity: 0.85;
    }

/* Container*/
#home-index #container
    {
    min-height: 100%;
    margin-left: 12rem;
    /*border: 1px solid white;*/
    }



/* Dates */
#home-index #container #upcoming-events
    {
    display: flex;
    flex-direction: column;
    float: left;
    width: 80%;
    /* vertical spacing of container */
    margin-top: 10rem;
    font-size: 1.1rem;
    font-family: "Fira Sans", sans-serif;
    font-weight: 300;
    }

#home-index #container #upcoming-events table.upcoming-events thead
    {
    display: none;
    }

#home-index #container #upcoming-events table {
    margin-top: 2rem;
}


#home-index #container td.dates {
    background-color: #ffffff;
    opacity: 0.85;
    /*min width is width of most dates*/
    width: 6.25rem;
    text-align: center;
    padding: 0.5rem 1rem;
}

#home-index #container .clickable-row:hover > td > time {
    color: #ffffff;
    background-color: transparent;
}

#home-index #container .clickable-row:hover > td {
    cursor: pointer;
    background-color: transparent;
}

#home-index #container tr {
    outline: 1px solid transparent;
}

#home-index #container tr:hover  {
    outline: 1px dashed white;
}

#home-index #container #site-footer {
    min-width: 100%;
}

#home-index #container h1 {
    width: 25rem;
}
#home-index #content {
    display: none;
}

/* media queries */
@media screen and (max-width: 1000px) {

    #home-index #container
    {
    margin-left: 9.5rem;
    }
}

@media screen and (max-width: 861px) {

    #home-index #container
    {
    margin-left: 6.5rem;
    }
}

/* tablet */
@media screen and (max-width: 768px) {
    #home-index #container
    {
    margin-left: 5rem;
    }
    #home-index #myTopnav {
    height: 8.2rem;
}
    #home-index #homeLogo a {
    font-size: 2rem;
}
#home-index #tabs a {
    font-size: 0.83rem;
}

#home-index #tabs .dropbtn {
    font-size: 0.83rem;;
}

#home-index #upcoming-events
    {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    #home-index #container
    {
    display: none;
    }

#home-index #intro
    {
    height: 46%;
    }


#home-index #content {
    margin: 0;
    background-color: white;
    background-size: cover;
    display: flex;
    align-items: flex-start;
}

#home-index #content .myContent {
    margin:4.5rem 4rem;
}

#home-index .overlay1 {
    min-height: 100%;
    background-color: #fafafa;
}

#home-index #content table.upcoming-events thead
    {
    display: none;
    }

#home-index #content table.upcoming-events {
    margin: 0rem 0rem 0rem 0rem;
    padding: 0;
}

#home-index #content h1 {
    margin-top: 0rem;
    margin-bottom: 2rem;
    font-size: 3rem;
}

#home-index #content a {
    text-decoration: none;
    color: black;
}

#home-index #content a:hover {
    color: #FF8C00;
}

#home-index #content table {
    font-size: 1rem;
    margin-bottom: 1.4rem;
}

#home-index #content td.dates {
    vertical-align: top;
    width: 5.6rem;
    padding-right: 1.5rem;
    text-align: right;
}

#home-index #content table.upcoming-events .row {
    line-height: 1.8rem;
}

#home-index #content td {
        text-align: left;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    #home-index #content .myContent {
    margin:4.5rem 1.33rem;
}

/*#home-index
    {
    min-width: 100%;
    background: #121010 url(homealt.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    }*/

#home-index #site-header {
    margin-top: 0rem;
}

#alternative-background {
    height: 0%;
}

#home-index #intro {
    height: 86%;
}
    #home-index #slide-down-to-content
    {
    display: none;
  }

    #home-index #myTopnav {
    height: 12.7rem;
    background: white;
}

#home-index #homeLogo {
    padding-top: 4.2rem;
}

#home-index #homeLogo a {
    color: black;
    font-size: 2rem;
}

#home-index #tabs a {
    font-size: 0.83rem;
    color: black;
}

#home-index #tabs .dropbtn {
    color: black;
    font-size: 0.83rem;
}

#home-index #tabs .dropdown-content {
    min-width: 12rem;
}

 #home-index #homeLogo {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
        padding-top: 0.5rem;
    }
     #home-index #homeLogo a {
        font-size: 1.3rem;
    }
     #home-index #tabs a {
        display: none;
        padding: 0.7rem 0.7rem;
        margin: 0;
    }
     #home-index #tabs .dropbtn {
        display: none;
    }
    #home-index #tabs {
        background-color: black;
        min-width: 100%;
    }
    #home-index #myTopnav {
        height: 0rem;
        min-height: 8rem;
    }

    #home-index #tabs .icon {
        display: flex;
    }
}

@media screen and (max-width: 320px) {
    #home-index #homeLogo a {
        font-size: 1.2rem;
    }
    #home-index #content .myContent {
        padding: 4.5rem 0.665rem;
    }
}
