stuff for images
#content #board *, *:before, *:after {
  box-sizing: inherit;
}

#content #board .column {
  float: right;
  width: 31.5%;
  margin: 0px 0px 16px 17px;
  /*margin: 0px 12px 16px 12px;*/
  /*margin-bottom: 16px;*/
}
#content #board .column:nth-child(3n+1) {
    margin: 0px 0px 16px 0px;
}
  
  /*padding: 0 8px;*/

@media screen and (max-width: 650px) {
#content #board .column {
    width: 100%;
    display: block;
  }
}

#content #board .container {
  padding: 0 16px;
}

#content #board .container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}